
/* Navbar */

.navi {
    position: fixed;
    background-color: rgb(0, 247, 255);
    padding-left: .01em;
    padding-right: 2.5em;
    box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,1);
    overflow: hidden;
    transition:ease-in-out;
    z-index: 100;
    margin-top: -4em;
}

.navi a {
    text-decoration: none;
    color: white;
    text-shadow: 1px .5px black;
    text-transform: uppercase;
    line-height: 2em;
    transition: ease-in-out;
}

ul {
    list-style-type:none;
}

.navi:hover {
    background-color: white;
}

a:hover {
    color: black;
    transform: scale(2.0);
}

/* Formatting page */

.pagecontainer {
    position: relative;
    margin-top: 5em;
}

.header1 {
    text-align: center;
    font-family: monospace;
    background-color: silver;
    box-shadow: inset 1px 1px 15px 1px rgba(0,0,0,1);
    padding: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.space {
    display: block;
}

/* Columns */

.column {
    float:left;
    width:45%;
    padding:2em;
    background-color: rgb(44, 44, 44);
    color: white;
    height: 10em;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

/* Image filter */

.image1 {
    display:block;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    filter: blur(1.7px) sepia(50%);
    border-radius: 15px;
}

/* Table customization */

table {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    background-color: darkturquoise;
    padding: 1em;
}

th {
    background-color: whitesmoke;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
}
 td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid black;
 }

/* Image over text */

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    text-shadow: 3px 1px black;
}

.container img {
    width:50%;
    border-radius: 15px;
}

.centered {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Hover over text */

.highlight {
    color: black;
    font-family: monospace;
    font-size: 5em;
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: ease-in-out;
    text-align: center;
}

.highlight:hover {
    color: rgb(255, 0, 191);
    transform: scale(25%);
}

/* Image overlay fade */

.imagecontainer {
    position: relative;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  
.image3 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.imagecontainer:hover .image3 {
    opacity: 0.3;
    filter: grayscale(50%);
}
  
.imagecontainer:hover .middle {
    opacity: 1;
}
  
.textopacity {
    background-color:rgb(0, 247, 255);
    color: white;
    font-size: 2em;
    padding: 16px 32px;
    text-shadow: 2px 1px black;
    box-shadow: inset 1px 1px 7px 2px black;
}

a {
    text-decoration: none;
}

/* Video */

.video1 {
    text-align: center;
    margin-top:2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.videocontainer {
    position: relative;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.video2 {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.middlevideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.textvideo {
    color: white;
    font-size: 2em;
}

/* Footer */

footer {
    font-weight: bold;
    bottom: 0px;
    width: 100%;
    height: 1rem;
    text-align: center;
    margin-bottom: 0em;
}