body {
    font-family:"Helvetica Neue" , Helvetica, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    background: url(../images/background.png) no-repeat 50% 50%;
}

form {
    text-align: center;
    width: 300px;
    height: 80px;
}

/* HEADER */

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 5px rgba(0,0,0,1);
    font-size: 50px;
    background-color: rgba(255, 0, 0, 0.7);
    overflow: hidden;
    border-color: 1px black;
    border-radius: 2px;
    width: 30%;
    display: inline-block;
    box-shadow: 1px 1px 10px 1px black;
    display: inline-block;
    margin-top: 100px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px black;
}

img, iframe
{
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,1);
}

/*NAVIGATION */

ul {
    display: block;
    list-style-type: none;
}

.wrap {
    position:fixed;
    overflow: hidden;
    margin-top: 3px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.menu-container {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255,255,255,1);
    display: inline-block;
    position: relative;
    padding: 15px 2%;
    border: 1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #ffffff;
    background-color: rgb(0, 119, 255);
}

/* SIGN UP */

.signup {
    text-align: center;
    position: relative;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(255, 0, 0, 1);
    box-shadow: 1px 1px 15px 4px rgba(255,255,255,0.6);
    z-index: 10;
}

.signup h3 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    border: 3px 3px 3px 3px rgb(255, 255, 255);
    border-style: double;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.829);
    width: 15%;
    display: inline-block;
}

.signup form {
    z-index: 10;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.signup input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255,255,255,1);
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 15px;
}

/* SWITZERLAND FLAG */

.flag {
    background-color: rgba(255,0,0,1);
    margin: auto;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 5px;
    border-color: rgba(255,255,255,1);
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,1);
}

.white {
    position: absolute;
    background-color: white;
    display: block;
}

.stripever {
    margin-top: 12px;
    height: 75px;
    width: 20px;
    margin-left: 40px;
}

.stripehor {
    width: 75px;
    height: 20px;
    margin-left: 12px;
    margin-top: 40px;
}

/* FOOTER */

#footer {
    bottom: 0;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: whitesmoke;
    box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.2);
    text-align: right;
}